<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12">
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <hr>
      <label>Username</label>
      <input type="text" [(ngModel)]="username" class="form-control">
      <div>
        <p>{{username}}</p>
      </div>
      <button class="btn btn-warning" [disabled]="username === ''" (click)="username = ''">Reset Username</button>
      <hr>
<!--      <div class="btn btn-primary" (click)="showPassword = !showPassword">Display Details</div>-->
      <div class="btn btn-primary" (click)="onToggleDetails()">Display Details</div>
      <p *ngIf="showPassword">Secret Password = C0lC4zz0</p>
      <div *ngFor="let logItem of log;  let i = index"
      [ngStyle]="{backgroundColor: i >= 5? 'blue' : 'transparent'}"
           [ngClass]= "{'text-white' : i >= 5}"
      >{{logItem}}
     </div>
    </div>
  </div>
</div>


